table {
  text-align: center;
  width: 70%;
  border-collapse: collapse;
  border: 1px solid grey;
}

th {
    border: 1px solid grey;
    padding: 10px;
}

td {
    border: 1px solid grey;
    padding: 5px;
}

.button-table {    
    margin-top: 5px;
    width: 75%;
}
